body {
    background: aquamarine;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(4, 132, 83);
}

a:hover {
    color: rgb(1, 58, 32);
}

.author {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 5 auto;
    background: rgb(53, 210, 140);
    padding: 5px;
    .author-name,
    .author-id {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        width: 250px;
    }
    .author-bio {
        font-size: 0.5em;
        width: 600px;
    }
    .author-id {
        width: 50px;
    }
}

.comment {
    display: flex;
    flex-flow: row nowrap;
}

.alert--success {
    color: rgb(5, 119, 9);
    font-size: 0.7em;
}
.alert--error {
    color: rgb(121, 3, 3);
    font-size: 0.7em;
}

.user-list {
    font-family: Arial, Helvetica, sans-serif;
}

.user-list__user {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.user-list__user:nth-child(odd) {
    background-color: #f7f7f7;
}

.user-list__email {
    font-style: italic;
    font-size: 0.875em;
}

@import "index.scss";
